# IDE
.vscode/
.idea/

# OS
.DS_Store

# Terraform
.terraform/
*.tfstate
*.tfstate.*

# Kubernetes
*.secret.yaml

# Logs
*.log

# Node
node_modules/

# Python
__pycache__/
*.pyc

# Environment
.env
.env.*

# Temporary
tmp/